@charset "UTF-8";

.compliment{
	position: fixed;	/* 画面上の指定座標に配置するため */
	font-size: 20px;
	opacity: 1;
	/* 文字を指定座標位置の中央に表示させるための設定 */
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: visible;
	/* テキストを折り返さない */
	white-space: nowrap;
	
	/* 拡大・透過のアニメーションを設定 */
	transition: font-size 10s, opacity 10s;
	
	/* 文字の中心を維持する設定 */
    transform: translate(-50%, -50%); /* 要素の中心を基準点に移動 */
    left: 50%; /* 親要素の水平方向の中心 */
    top: 50%;  /* 親要素の垂直方向の中心 */
}

.compliment.show {
	font-size: 150px;
	opacity: 0;
}

.compliment-input-container {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	max-width: 360px;
	background-color: #fff;
	border-radius: 28px;
	border: 1px solid #c9d5e3;
	padding: 10px 20px;		/* 内側の余白 */
	box-sizing: border-box; /* パディングを含めて幅を計算 */
	z-index: 500;
	opacity: 0.5;
	transition: .3s;
}

.compliment-input-container:hover {
	opacity: 1;
}

.compliment-input-container form {
	display: flex;
	align-items: center;
	gap: 10px;
}

.compliment-textbox {
	flex-grow: 1;	/* 親要素の残りのスペースをすべて使う */
	height: 24px;
	border: none;
	background-color: transparent;
	resize: none;
	outline: none;
	font-family: inherit;
	font-size: 16px;
	line-height: 1.5;
	padding: 5px 0;
	overflow-y: auto;
}

.btn-insert-compliment {
  display: inline-block;
  text-decoration: none;
  color: #c9d5e3;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  border: solid 1px #c9d5e3;
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .3s;
}

.btn-insert-compliment:hover {
  background: #d9e3f1;
}