@charset "UTF-8";

body {
    font-family: "";
}

.compliment{
	position: fixed;	/* 画面上の指定座標に配置するため */
	font-size: 20px;
	opacity: 1;
	/* 文字を指定座標位置の中央に表示させるための設定 */
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: visible;
	/* テキストを折り返さない */
	white-space: nowrap;
	
	/* 拡大・透過のアニメーションを設定 */
	transition: font-size 10s, opacity 10s;
	
	/* 文字の中心を維持する設定 */
    transform: translate(-50%, -50%); /* 要素の中心を基準点に移動 */
    left: 50%; /* 親要素の水平方向の中心 */
    top: 50%;  /* 親要素の垂直方向の中心 */
    
    z-index: -1000;
}

.compliment.show {
	font-size: 150px;
	opacity: 0;
}

.menu {
	position: fixed;
	display: flex;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	max-width: 480px;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.compliment-input-container {
	background-color: #fff;
	border-radius: 28px;
	border: 1px solid #c9d5e3;
	padding: 10px 20px;		/* 内側の余白 */
	box-sizing: border-box; /* パディングを含めて幅を計算 */
	opacity: 0.5;
	transition: .3s;
	flex-grow: 0;
	flex-basis: 300px;
	position: relative;
}
.compliment-input-container:hover {
	opacity: 1;
}

.compliment-input-container form {
	display: flex;
	align-items: center;
	gap: 10px;
}

.compliment-textbox {
	height: 32px;
	flex-grow: 1;	/* 親要素の残りのスペースをすべて使う */
	height: 24px;
	border: none;
	background-color: transparent;
	resize: none;
	outline: none;
	font-family: inherit;
	font-size: 16px;
	line-height: 1.5;
	padding: 5px 0;
	overflow-y: auto;
}

.btn-insert-compliment {
	display: inline;
  	text-decoration: none;
  	color: #c9d5e3;
  	width: 32px;
  	height: 32px;
  	line-height: 32px;
  	border-radius: 50%;
  	border: solid 1px #c9d5e3;
  	background-color: transparent;
  	text-align: center;
  	overflow: hidden;
  	transition: .3s;
}
.btn-insert-compliment:hover {
  	background: #d9e3f1;
}

.insert-log-container {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    transform: none;
    margin-bottom: 5px;
}

.insert-result-log {
	position: relative;
	padding: 0.5em 1em;
	margin: 2em 0;
	background: #e6f4ff;
	color: #5c98d4;
	border-radius: 5px;
	animation-name: fadeOut;
	animation-delay: 2.5s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	opacity: 1;
	width: auto;
}
.insert-result-log:after {
	position: absolute;
	content: '';
	top: 100%;
	left: 30px;
	border: 15px solid transparent;
	border-top: 15px solid #e6f4ff;
	width: 0;
	height: 0;
}

.inser-result-log p {
	margin: 0;
	padding: 0;
}

@keyframes fadeOut {
	0% {
	}
	100% {
		opacity: 0;
	}
}

.menu-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #c9d5e3;
	background-color: #fff;
	opacity: 0.5;
	transition: .3s;
}
.menu-item:hover {
	opacity: 1;
}

.menu-item p{
	margin : 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	color: #707070;
	font-weight: bold;
}

.menu-dropup {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	background: transparent;
	width: auto;
	border-radius: 0;
	overflow: hidden;
	margin-bottom: 5px;
	box-shadow: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.menu-dropup-item {
	border: none;
	margin-bottom: 5px;
	text-align: center;
}
.menu-dropup-item:last-child {
	border-width: 0;
}

.menu-dropup-item p {
	width: 48px;
	height: 48px;
	line-height: 48px;
	padding: 0px;
	border-radius: 50%;
	border: 1px solid #c9d5e3;
	background: #fff;
	color: #707070;
	display: inline-block;
	white-space: nowrap;
	font-weight: bold;
}

.menu-item:hover .menu-item p {
	color: red;
	transition: .5s;
}

.menu-item:hover .menu-dropup {
	opacity: 1;
	pointer-events: auto;
	transition: .5s;
}

.menu-dropup-item p:hover {
	background: #d9e3f1;
}

#font-gothic {
	font-family: "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", sans-serif;
}

#font-mincho {
	font-family: "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
}

#font-meiryo {
	font-family: "メイリオ", "Meiryo", sans-serif;
}

#font-default {
	font-family: "";
}

/* 半円のコンテナ */
.color-preview {
    display: flex;
}

.menu-dropup-item p.color-preview {
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #c9d5e3;
    background: #fff;
    color: #707070;
    display: flex; /* flexboxで中身を整列 */
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
}

.color-preview span {
    width: 40%; /* 親要素の幅の半分に設定 */
    height: 80%; /* 親要素の高さと同じに設定 */
    display: inline-block;
    border: none;
}

.color-preview .left-half-bg {
    border-radius: 48px 0 0 48px;
}
.color-preview .right-half-font {
    border-radius: 0 48px 48px 0;
}

/* 提案するカラーセット */
/* デフォルト */
#color-default .left-half-bg {
    background-color: #f2f2f2;
}
#color-default .right-half-font {
    background-color: #000;
}

/* カラーセット1 */
#color-set-1 .left-half-bg {
    background-color: #e6f4ff;
}
#color-set-1 .right-half-font {
    background-color: #5c98d4;
}

/* カラーセット2 */
#color-set-2 .left-half-bg {
    background-color: #fff8dc;
}
#color-set-2 .right-half-font {
    background-color: #8b4513;
}